<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Título Padrão{% endblock %}</title>
    <!-- Inclua links para seus arquivos de estilo CSS aqui -->
</head>
<body>
    <header>
        <!-- Inclua seu menu de navegação ou cabeçalho aqui -->
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <!-- Inclua o rodapé aqui -->
    </footer>
    <!-- Inclua scripts JavaScript, se necessário -->
</body>
</html>
